# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Rasa ignores
# wizard-de-diseno/models/

wizard-de-diseno/events.db
wizard-de-diseno/events.db-shm
wizard-de-diseno/events.db-wal
wizard-de-diseno/rasa.sb
wizard-de-diseno/story_graph.dot

wizard-de-diseno/.DS_Store
wizard-de-diseno/results/
wizard-de-diseno/train_test_split/
wizard-de-diseno/rasa.db

wizard-de-diseno/settings.json
# wizard-de-diseno/actions/images/
# wizard-de-diseno/actions/models/
# wizard-de-diseno/actions/models.zip

# modelado-de-objetos/models/

modelado-de-objetos/events.db
modelado-de-objetos/events.db-shm
modelado-de-objetos/events.db-wal
modelado-de-objetos/rasa.sb
modelado-de-objetos/story_graph.dot

modelado-de-objetos/.DS_Store
modelado-de-objetos/results/
modelado-de-objetos/train_test_split/
modelado-de-objetos/rasa.db

modelado-de-objetos/settings.json
# modelado-de-objetos/actions/images/
# modelado-de-objetos/actions/models/
# modelado-de-objetos/actions/models.zip